on fs
# mount mtd partitions

on post-fs
# Add by Mtk
on post-fs-data

# MT6620 Driver
    #
    # MT6620 related device nodes & configuration (begin)
    #

    #/dev/ttyMT2 for GPS Debugging purpose
    chmod 0666 /dev/ttyMT2
    chown system system /dev/ttyMT2

    # Turn on MT6620 by default
    chmod 0664 /sys/class/rfkill/rfkill0/state
    chown system system /sys/class/rfkill/rfkill0/state
    write sys/class/rfkill/rfkill0/state 0

    #/dev/ttyMT1 for STP Tunnel
    chmod 0666 /dev/ttyMT1
    chown system system /dev/ttyMT1

    # STP, WMT, GPS, FM and BT Driver
    insmod /system/lib/modules/mtk_hif_sdio.ko
    insmod /system/lib/modules/mtk_stp_wmt.ko
    insmod /system/lib/modules/mtk_stp_uart.ko
    insmod /system/lib/modules/mtk_stp_gps.ko
    insmod /system/lib/modules/mtk_stp_bt.ko
    insmod /system/lib/modules/mt6620_fm_drv.ko
    insmod /system/lib/modules/mtk_fm_priv.ko

    # Create char device file for WMT, GPS, BT, FM
    mknod /dev/stpwmt c 190 0;
    mknod /dev/stpgps c 191 0;
    mknod /dev/stpbt  c 192 0;
    mknod /dev/fm     c 193 0;
    chmod 0660 /dev/stpwmt
	chown system system /dev/stpwmt
    # BT
    chmod 0666 /dev/stpbt
    # FM Radio device, FIXME: this is not a proper way to set permissions
    chmod 0666 /dev/fm
    # GPS
    chmod 0666 /dev/gps
    chmod 0660 /dev/stpgps

    # MSDC
    chmod 0777 /dev/misc-sd

    # WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/p2p_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    chmod 0660 /sys/class/rfkill/rfkill1/state
    chown wifi system /sys/class/rfkill/rfkill1/state
    chown wifi wifi /data/misc/wifi
    # Turn off wifi by default
    write /sys/class/rfkill/rfkill1/state 0

    # WiFi hotspot / WiFi P2P
    chmod 0660 /data/misc/wifi/p2p_supplicant.conf
    chown wifi wifi /data/misc/wifi/p2p_supplicant.conf

    # Load CFG80211 Module
    insmod /system/lib/modules/cfg80211.ko

    # Load WiFi Driver
    insmod /system/lib/modules/wlan.ko

    # Char device for BT 3.0 HS
    mknod /dev/ampc0 c 151 0
    chmod 0666 /dev/ampc0

    #
    # MT6620 related device nodes & configuration (end)
    #

# Encrypt phone function
    setprop vold.post_fs_data_done 1

on boot

#
# MT6620 related services (Begin)
#
service 6620_launcher /system/bin/6620_launcher 4000000 /system/etc/firmware/mt6620_patch_hdr.bin
    user system
	  group system
	  class core
#   oneshot
#
# MT6620 related services (End)
#